* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}

header {
    /* 漸層色: linear-gradient(開始色, 結束色) */
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/hero.jpg);
    background-size: cover;
    height: 100vh;
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    /*  離開top多遠, 離開left多遠  */
    top: 50%;
    left: 50%;
    /*  translate(向X軸靠近, 向Y軸靠近)  */
    transform: translate(-50%, -50%);
}

h1 {
    margin: 0;
}